.sidebar {
    display: flex;
    border-right: 1px solid #d8d8d8;
    flex: .05;
    align-items: center;
    align-items: flex-start;
}

.logoutIcon {
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.chatIcon {
    cursor: pointer;
}

.iconContainer {
    border-right: 1px solid #d8d8d8;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.availableUsers{
    padding: 4rem;
    height: 100vh;
}